{
  "extends": ["eslint-config-synacor", "prettier", "prettier/react"],
  "plugins": ["babel", "import", "react", "prettier", "json"],
  "rules": {
    "no-unused-vars": "warn",
    "react/sort-comp": "off",
    "lines-around-comment": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-indent-props": "off",
    "no-mixed-spaces-and-tabs": "off",
    "indent": "off",
    "import/no-unresolved": [
      2,
      {
        "ignore": ["react-?", "async!?"]
      }
    ]
  }
}
