{
    "extends": "eslint-config-synacor",
    "rules": {
      "no-unused-vars": "warn",
      "react/sort-comp": "off",
      "lines-around-comment": "off",
      "react/prefer-stateless-function": "off"
    }
  }